<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <!-- Transmission -->
    <category label="1000">
		<setting label="1010" type="lsep" visible="!eq(15,true)"/>
		<setting type="sep" visible="!eq(14,true)"/>
		<setting label="1021" id="TRANSMISSION_AUTH" type="bool" default="false" visible="!eq(13,true)"/>
		<setting label="1022" id="TRANSMISSION_USER" type="text" default="openelec" enabled="eq(-1,true)" visible="!eq(12,true)"/>
		<setting label="1023" id="TRANSMISSION_PWD" type="text" default="openelec" enabled="eq(-2,true)" visible="!eq(11,true)"/>
		<setting label="2010" type="lsep" visible="!eq(10,true)"/>
		<setting type="sep" visible="!eq(9,true)"/>
		<setting label="2021" id="TRANSMISSION_IP" type="text" default="*.*.*.*" visible="!eq(8,true)"/>
		<setting label="3110" type="lsep" visible="!eq(7,true)"/>
		<setting type="sep" visible="!eq(6,true)"/>
		<setting label="3121" id="TRANSMISSION_DL_DIR" type="folder" default="/storage/downloads" visible="!eq(5,true)"/>
		<setting label="3122" id="TRANSMISSION_WATCH_DIR" type="folder" default="/storage/downloads/watch" visible="!eq(4,true)"/>
		<setting label="3123" id="TRANSMISSION_INC_DIR" type="folder" default="/storage/downloads/incoming" visible="!eq(3,true)"/>
		<setting label="4110" type="lsep"/>
		<setting type="sep"/>
		<setting label="4121" id="TRANSMISSION_ENABLE_CUSTOM_CONFIG" type="bool" default="false"/>
		<setting label="4122" id="TRANSMISSION_PATH_CUSTOM_CONFIG" type="folder" default="/storage/.cache/transmission" enable="eq(-1,true)"/>
    </category>
</settings>
